!!! 5
%html.no-js(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title namepicker
  %body
    %form
      %input{"type" => "checkbox", "id" => "ben"}
      // %input{"type" => "radio", "name" => "student", "value" => "ben", "id" => "ben"}
      %label{"for" => "ben"} Ben
      %br
      %input{"type" => "checkbox", "id" => "elizabeth"}
      %label{"for" => "elizabeth"} Elizabeth
      %br
      %input{"type" => "checkbox", "id" => "Garret"}
      %label{"for" => "Garret"} Garret
      %br
      %input{"type" => "checkbox", "id" => "karina"}
      %label{"for" => "karina"} Karina 
      %br
      %input{"type" => "checkbox", "id" => "tracy"}
      %label{"for" => "tracy"} Tracy
      %br
      %input{"type" => "checkbox", "id" => "william"}
      %label{"for" => "william"} William
      %br
      %input{"type" => "submit", "value" => "Choose!", "id" => "submit"}
    %p#result
      And the winner is...
    %script(src="./bower_components/jquery/dist/jquery.js")
    %script(src="https://cdn.rawgit.com/tunnckoCore/randomorg-js/master/dist/randomorg-js.js")
    %script(src="./js/app.js")